<style>
a{text-decoration:none;color:black;}
</style>
<h1>Tateti</h1>
<a href="/turno" title="turnoJugadorA">
	<%= @@turno %> 
</a>

<table style="font-size:100px;">
	<tr>
		<td id="td_1_1"><%=@@td_1_1%></td>
		<td id="td_1_2"><%=@@td_1_2%></td>
		<td id="td_1_3"><%=@@td_1_3%></td>
	</tr>
	<tr>
		<td id="td_2_1"><%=@@td_2_1%></td>
		<td id="td_2_2"><%=@@td_2_2%></td>
		<td id="td_2_3"><%=@@td_2_3%></td>
	</tr>
	<tr>
		<td id="td_3_1"><%=@@td_3_1%></td>
		<td id="td_3_2"><%=@@td_3_2%></td>
		<td id="td_3_3"><%=@@td_3_3%></td>
	</tr>
</table>

<p>
<a href="/">Reset</a>
</p>
